{% extends "admin/base.html.twig" %}

{% block content %}
    <h1>Welcome, {{ app.user.firstName }}!</h1>
    <h2>This is your site's Admin Panel. </h2>
    <h3>Here you can manipulate articles, categories, comments and more. </h3>
    <h3>You can find all the functionality in the menu at the left side.</h3>
    <h3><========</h3>
    <h3>Enjoy!</h3>
{% endblock content %}
