{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="bgc-white p-20 bd">
        <h4 class="c-grey-900 h h-article">New Category</h4>
        <div class="mT-30">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="category_name">Name</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'name'}}) }}
                </div>
            </div>
            {{ form_widget(form._token) }}
            <button type="submit" class="btn btn-primary form-button">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}
