<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-left no-padding">
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-right no-padding">
        <ul>
          <li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              {% if is_granted('ROLE_ADMIN') %}
              <a class="link" href="{{ path('admin') }}">Admin Panel</a>
              </li>
              <li>
                {% endif %}
              <a class="link" href="{{ path('logout') }}">Logout</a>
            {% else %}
              <a class="link" href="{{ path('login') }}">Login</a>
              </li>
          <li>
            <a class="link" href="{{ path('register') }}">Register</a>
            {% endif %}
          </li>
          <li><a href="tel:+440 012 3654 896"><i class="fas fa-phone-volume"></i> <span>0800 72800</span></a></li>
          <li><a href="mailto:contact@news5.com"><i class="fas fa-envelope"></i> <span>contact@news5.com</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
