<div class="container main-menu" id="main-menu">
  <div class="row align-items-center justify-content-between">
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/">Home</a></li>
        <ul>
          <li><a href="standard-post.html">Standard Post</a></li>
          <li><a href="image-post.html">Image Post</a></li>
          <li><a href="gallery-post.html">Gallery Post</a></li>
          <li><a href="video-post.html">Video Post</a></li>
          <li><a href="audio-post.html">Audio Post</a></li>
        </ul>
        <li class="menu-has-children"><a href="">Categories</a>
          <ul>
            {% for category in categories %}
              <li><a href="articles/category/{{ category.id }}">{{ category.name }}</a></li>
            {% else %}
              No categories have been found.
            {% endfor %}
          </ul>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
    <!--
    <div class="navbar-right">
      <form class="Search">
        <input type="text" class="form-control Search-box" name="Search-box" id="Search-box" placeholder="Search">
        <label for="Search-box" class="Search-box-label">
          <span class="lnr lnr-magnifier"></span>
        </label>
        <span class="Search-close">
          <span class="lnr lnr-cross"></span>
        </span>
      </form>
    </div>
    -->
  </div>
</div>
