<div class="single-sidebar-widget social-network-widget">
  <h6 class="title">Social Networks</h6>
  <ul class="social-list">
    <li class="d-flex justify-content-between align-items-center fb">
      <div class="icons d-flex flex-row align-items-center">
        <i class="fab fa-facebook"></i>
        <p>296K Likes</p>
      </div>
      <a href="#">Like our page</a>
    </li>
    <li class="d-flex justify-content-between align-items-center tw">
      <div class="icons d-flex flex-row align-items-center">
        <i class="fab fa-twitter"></i>
        <p>127K Followers</p>
      </div>
      <a href="#">Follow Us</a>
    </li>
    <li class="d-flex justify-content-between align-items-center yt">
      <div class="icons d-flex flex-row align-items-center">
        <i class="fab fa-youtube"></i>
        <p>157K Subscribers</p>
      </div>
      <a href="#">Subscribers</a>
    </li>
  </ul>
</div>
